---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d860e00466184c251e9edca8ae264f23a0efeb60c82714b7559a58ff13c5d2cc"
      Last-Modified:
      - Mon, 24 Jan 2022 09:01:27 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-01 10:04:35 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1643623803'
      X-Ratelimit-Used:
      - '11'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"duncan-bayne-test","id":98312329,"node_id":"U_kgDOBdwgiQ","avatar_url":"https://avatars.githubusercontent.com/u/98312329?v=4","gravatar_id":"","url":"https://api.github.com/users/duncan-bayne-test","html_url":"https://github.com/duncan-bayne-test","followers_url":"https://api.github.com/users/duncan-bayne-test/followers","following_url":"https://api.github.com/users/duncan-bayne-test/following{/other_user}","gists_url":"https://api.github.com/users/duncan-bayne-test/gists{/gist_id}","starred_url":"https://api.github.com/users/duncan-bayne-test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/duncan-bayne-test/subscriptions","organizations_url":"https://api.github.com/users/duncan-bayne-test/orgs","repos_url":"https://api.github.com/users/duncan-bayne-test/repos","events_url":"https://api.github.com/users/duncan-bayne-test/events{/privacy}","received_events_url":"https://api.github.com/users/duncan-bayne-test/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":200,"public_gists":0,"followers":0,"following":0,"created_at":"2022-01-24T09:01:27Z","updated_at":"2022-01-24T09:01:27Z"}'
  recorded_at: Mon, 31 Jan 2022 09:29:32 GMT
- request:
    method: get
    uri: https://api.github.com/search/repositories?per_page=100&q=language:ruby%20user:duncan-bayne-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-01 10:04:35 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?per_page=100&q=language%3Aruby+user%3Aduncan-bayne-test&page=2>;
        rel="next", <https://api.github.com/search/repositories?per_page=100&q=language%3Aruby+user%3Aduncan-bayne-test&page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1643621434'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":200,"incomplete_results":false,"items":[{"id":451393670,"node_id":"R_kgDOGue4hg","name":"test-repo-96","full_name":"duncan-bayne-test/test-repo-96","private":false,"owner":{"login":"duncan-bayne-test","id":98312329,"node_id":"U_kgDOBdwgiQ","avatar_url":"https://avatars.githubusercontent.com/u/98312329?v=4","gravatar_id":"","url":"https://api.github.com/users/duncan-bayne-test","html_url":"https://github.com/duncan-bayne-test","followers_url":"https://api.github.com/users/duncan-bayne-test/followers","following_url":"https://api.github.com/users/duncan-bayne-test/following{/other_user}","gists_url":"https://api.github.com/users/duncan-bayne-test/gists{/gist_id}","starred_url":"https://api.github.com/users/duncan-bayne-test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/duncan-bayne-test/subscriptions","organizations_url":"https://api.github.com/users/duncan-bayne-test/orgs","repos_url":"https://api.github.com/users/duncan-bayne-test/repos","events_url":"https://api.github.com/users/duncan-bayne-test/events{/privacy}","received_events_url":"https://api.github.com/users/duncan-bayne-test/received_events","type":"User","site_admin":false},"html_url":"https://github.com/duncan-bayne-test/test-repo-96","description":null,"fork":false,"url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96","forks_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/forks","keys_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/keys{/key_id}","collaborators_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/teams","hooks_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/hooks","issue_events_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/issues/events{/number}","events_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/events","assignees_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/assignees{/user}","branches_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/branches{/branch}","tags_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/tags","blobs_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/git/refs{/sha}","trees_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/git/trees{/sha}","statuses_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/statuses/{sha}","languages_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/languages","stargazers_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/stargazers","contributors_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/contributors","subscribers_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/subscribers","subscription_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/subscription","commits_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/commits{/sha}","git_commits_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/git/commits{/sha}","comments_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/comments{/number}","issue_comment_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/issues/comments{/number}","contents_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/contents/{+path}","compare_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/compare/{base}...{head}","merges_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/merges","archive_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/downloads","issues_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/issues{/number}","pulls_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/pulls{/number}","milestones_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/milestones{/number}","notifications_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/labels{/name}","releases_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/releases{/id}","deployments_url":"https://api.github.com/repos/duncan-bayne-test/test-repo-96/deployments","created_at":"2022-01-24T09:15:17Z","updated_at":"2022-01-26T07:28:23Z","pushed_at":"2022-01-26T07:28:20Z","git_url":"git://github.com/duncan-bayne-test/test-repo-96.git","ssh_url":"git@github.com:duncan-bayne-test/test-repo-96.git","clone_url":"https://github.com/duncan-bayne-test/test-repo-96.git","svn_url":"https://github.com/duncan-bayne-test/test-repo-96","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"score":1.0},{"id":451393792,"node_id":"R_kgDOGue5AA","name":"test-repo-108","full_name":"duncan-bayne-test/test-repo-108","private":false,"owner":{"login":"duncan-bayne-test","id":98312329,"node_id":"U_kgDOBdwgiQ","avatar_url":"https://avatars.githubusercontent.com/u/98312329?v=4","gravatar_id":"","url":"https://api.github.com/users/duncan-bayne-test","html_url":"https://github.com/duncan-bayne-test","followers_url":"https://api.github.com/users/duncan-bayne-test/followers","following_url":"https://api[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=2&per_page=100&q=language:ruby%20user:duncan-bayne-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - '[...]
