---
http_interactions:
- request:
    method: get
    uri: https://endoflife.date/api/v1/products/python
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Cache-Status:
      - '"Netlify Edge"; fwd=miss'
      Content-Type:
      - application/json
      Etag:
      - '"504154aaac73d590dafc8b3e1ce71caf-ssl-df"'
      X-Nf-Request-Id:
      - 01KM0N71CYRNQVE7CV0HPWRKHT
    body:
      encoding: ASCII-8BIT
      string: '{"schema_version":"1.2.0","generated_at":"2026-03-18T06:54:15+00:00","last_modified":"2026-03-04T00:10:53+00:00","result":{"name":"python","aliases":[],"label":"Python","category":"lang","tags":["lang"],"versionCommand":"python
        --version\n\n# or alternatively\npython3 --version","identifiers":[{"type":"purl","id":"pkg:generic/python"},{"type":"purl","id":"pkg:deb/ubuntu/python"},{"type":"purl","id":"pkg:deb/ubuntu/python3.14"},{"type":"purl","id":"pkg:deb/ubuntu/python3.13"},{"type":"purl","id":"pkg:deb/ubuntu/python3.12"},{"type":"purl","id":"pkg:deb/ubuntu/python3.11"},{"type":"purl","id":"pkg:deb/ubuntu/python3.10"},{"type":"purl","id":"pkg:deb/ubuntu/python3.9"},{"type":"purl","id":"pkg:deb/ubuntu/python3.8"},{"type":"purl","id":"pkg:deb/ubuntu/python3.7"},{"type":"purl","id":"pkg:deb/ubuntu/python3.[...]
