---
http_interactions:
- request:
    method: get
    uri: https://endoflife.date/api/v1/products/ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Cache-Status:
      - '"Netlify Edge"; hit'
      Content-Type:
      - application/json
      Etag:
      - '"f47f6fc342a3ecc2f220d3909124e06b-ssl-df"'
      X-Nf-Request-Id:
      - 01K589H5B5BA7KPV79CHHF6NTQ
    body:
      encoding: ASCII-8BIT
      string: '{"schema_version":"1.2.0","generated_at":"2025-09-16T00:33:45+00:00","last_modified":"2025-08-10T13:34:36+00:00","result":{"name":"ruby","aliases":[],"label":"Ruby","category":"lang","tags":["lang"],"versionCommand":"ruby
        --version","identifiers":[{"type":"repology","id":"ruby"},{"type":"purl","id":"pkg:docker/library/ruby"},{"type":"purl","id":"pkg:generic/ruby"}],"labels":{"eoas":null,"discontinued":null,"eol":"Support
        Status","eoes":null},"links":{"icon":"https://cdn.jsdelivr.net/npm/simple-icons/icons/ruby.svg","html":"https://endoflife.date/ruby","releasePolicy":"https://www.ruby-lang.org/en/downloads/branches/"},"releases":[{"name":"3.4","codename":null,"label":"3.4","releaseDate":"2024-12-24","isLts":false,"ltsFrom":null,"isEol":false,"eolFrom":"2028-03-31","isMaintained":true,"latest":{"name":"3.4.5","date":"2025-07-15","link":"https://github.com/ruby/ruby/releases/tag/v3_4_5"},"custom":null},{"name":"3.3","codename":null,"label":"3.3","releaseDate":"2023-12-25","isLts":false,"ltsFrom":null,"isEol":false,"eolFrom":"2027-03-31","isMaintained":true,"latest":{"name":"3.3.9","date":"2025-07-24","link":"https://github.com/ruby/ruby/releases/tag/v3_3_9"},"custom":null},{"name":"3.2","codename":null,"label":"3.2","releaseDate":"2022-12-25","isLts":false,"ltsFrom":null,"isEol":false,"eolFrom":"2026-03-31","isMaintained":true,"latest":{"name":"3.2.9","date":"2025-07-24","link":"https://[...]
- request:
    method: get
    uri: https://endoflife.date/api/v1/products/nodejs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Cache-Status:
      - '"Netlify Edge"; fwd=miss'
      Content-Type:
      - application/json
      Etag:
      - '"5033836c6fcc9475f83f3c3a4a3c2942-ssl-df"'
      X-Nf-Request-Id:
      - 01K589H8CF2Q7DKMDCWKM5SFN0
    body:
      encoding: ASCII-8BIT
      string: '{"schema[...]
